enabled: true
default_lang: en
disable_css: false
inject_template: true # if false, include the partials/recaptchaform or partials/container template manually
grecaptcha_sitekey: "{{ grav.captcha_site_key }}"
grecaptcha_secret: "{{ grav.captcha_secret }}"
grecaptcha_callback: false
