<?php
$serverip = "{{ db_ip }}";
$user = "{{ twoeuros_db.user }}";
$pass = "{{ twoeuros_db.pass }}";
$dbname = "{{ twoeuros_db.name }}";

$host="{{ db_ip }}";
$username="{{ twoeuros_db.user }}";
$password="{{ twoeuros_db.pass }}";
$db_name="{{ twoeuros_db.name }}";
$tbl_name="Users";
?>
