require ["fileinto"];

#~-~-~-#
# SPAM #
#~-~-~-#
if header :contains "subject" ["[SPAM]", "***SPAM***"] {
  fileinto "Junk";
}

#~-~-~-~-~-~-~-~-~-~#
# DOMAINS BLACKLIST #
#~-~-~-~-~-~-~-~-~-~#
# *.date
elsif address :matches :domain "from" "*.date" {
  reject "I am no longer accepting spams";
}

#~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-#
# USER CUSTOM - PATTERNS - SUBJECT #
#~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-#
{% for config in sieve_rules_pattern_subject %}
{% if config.comment is defined %}
{{ config.comment }}
{% endif %}
elsif header :contains "subject" {{ config.pattern }} {
  fileinto "{{ config.into }}";
}

{% endfor %}
#~-~-~-~-~-~-~-~-~-~-#
# USER CUSTOM - FROM #
#~-~-~-~-~-~-~-~-~-~-#
{% for config in sieve_rules_from_sender %}
{% if config.comment is defined %}
{{ config.comment }}
{% endif %}
elsif address :is "from" {{ config.from }} {
  fileinto "{{ config.into }}";
}

{% endfor %}
#~-~-~-~#
# INBOX #
#~-~-~-~#
else {
  keep;
}
